.booking {
  background-color: $drk;
  padding: 60px 0;
  position: relative;
  overflow: hidden;

  &:before,
  &:after {
    display: block;
    width: 100%;
    height: 60px;
    content: "";
    background: url(asset-path('ornament_1.svg')) repeat-x top center;
    background-size: auto 60px;
    position: absolute;
    left: 0;

    @include smallScreenDown {
      height: 30px;
      background-size: auto 30px;
    }
  }

  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }

  .ctn {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
  }

  &__header {
    background-color: rgba(white, 0.15);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 5;

    .booking__calendar {
      flex: 1;

      .btn {
        display: inline-flex;
        align-items: center;

        .prev,
        .next {
          transition: 0.15s linear;
          position: relative;
          z-index: 2;
          width: 30px;
          //height: 20px;
        }

        .text {
          padding: 0 20px;
        }

        &:hover {
          .prev,
          .next {
            opacity: 0.5;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    .contacts {
      display: inline-flex;
      align-items: center;
      padding-top: 10px;

      a {
        text-decoration: none;
        white-space: nowrap;
        transition: 0.15s linear;

        &:hover {
          opacity: 0.5;
        }
      }

      .phone {
        font-size: 18px;
        color: $prm;
        font-weight: 300;
        display: block;

        span,
        small {
          display: block;
          text-align: left;
        }

        small {
          color: $prm;
          font-size: 10px;
          font-weight: 500;
          text-transform: uppercase;
        }

        &__apps {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          align-items: center;

          li {
            padding-left: 10px;

            a {
              display: block;
              font-size: 32px;
              color: $sec;
            }
          }
        }
      }
    }

    @include smallScreenDown {
      display: block;
      text-align: center;
    }
  }

  &__table {
    position: relative;
    z-index: 5;
    table {
      width: 100%;
      border: 0;
      border-collapse: collapse;
      background-color: rgba(white, 0.15);

      tr {
        border-bottom: 1px solid rgba(white, 0.15);
      }

      th {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: $prm;
        padding: 0 10px;
      }

      td {
        border-left: 1px solid rgba(white, 0.15);
        width: 25%;
      }

      th,
      td {
        vertical-align: middle;
      }

      thead {
        background-color: rgba(white, 0.15);

        tr {
          border-top: 1px solid rgba(white, 0.15);

          td {
            border-bottom: 4px solid transparent;
            padding: 10px 0;

            &.active {
              border-bottom: 4px solid $prm;
            }
          }
        }
        small,
        span {
          display: block;
          width: 100%;
          text-align: center;
        }

        small {
          color: $sec;
          font-size: 12px;
          font-weight: 500;
        }

        span {
          text-transform: uppercase;
          font-size: 24px;
          font-weight: 300;
          color: $prm;
          @include smallScreenDown {
            display: none;
          }
        }
      }

      tbody {
        .book, .past,
        .busy {
          display: flex;
          align-items: center;
          //padding: 10px;
          font-size: 14px;
          line-height: 20px;
          white-space: nowrap;
          box-sizing: border-box;
          user-select: none;

          .icon {
            font-size: 24px;
          }

          .text {
            text-transform: uppercase;
            padding-left: 10px;
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;

            @include smallScreenDown {
              display: none;
            }
          }

          &.half-start {
            width: 50%;
            float: left;
          }
          &.half-end {
            width: 50%;
            float: right;
          }

          @include smallScreenDown {
            justify-content: space-around;
          }
        }

        .book {
          transition: 0.15s linear;
          background-color: rgba($sec, 0.15);
          color: $sec;
          text-decoration: none;
          opacity: 0;

          &:hover {
            opacity: 1;
          }
        }

        .busy {
          background-color: $prm;
          color: $blk;
        }
      }
    }
  }

  &__art {
    position: absolute;
    display: block;
    opacity: 0.05;
    user-select: none;
    width: 50%;

    &.top {
      top: -5%;
      right: -25%;
    }
    &.bottom {
      bottom: -5%;
      left: -25%;
      transform: rotate(180deg);
    }
  }

  @include smallScreenDown {
    padding: 20px 0;
    &__header,
    &__table {
      margin: 0 -10px;
    }

    &__table table {
      th {
        padding: 5px;
      }
      tbody {
        .book,
        .busy {
          padding: 5px;
        }
      }
    }
  }
}