.cabinet {
  display: block;
  overflow: hidden;
  border-radius: 10px;
  background-color: lighten($drk, 10%);
  position: relative;
  user-select: none;
  border: 2px solid rgba($sec, 0.25);
  margin-bottom: 20px;

  &__price {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: $prm;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: $blk;
    padding: 6px 10px 4px;
    box-shadow: 0 3px 7px rgba($blk, 0.15);
    border-radius: 15px 0 0 15px;
    z-index: 2;
  }

  &__img {
    position: relative;
    height: 0;
    width: 100%;
    padding-top: 75%;
    z-index: 1;
    background-color: $blk;
    overflow: hidden;
    cursor: pointer;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s linear;
    }

    &:hover img {
      transform: scale(1.5);
      opacity: 0.5;
    }
  }

  &__art {
    opacity: 0.1;
    height: 0;
    padding-top: 2px;
    position: relative;
    z-index: 0;

    img {
      display: block;
      width: 75%;
      margin: 0 auto;
    }
  }

  &__body {
    position: relative;
    z-index: 2;
    padding: 10px 20px;

    h4 {
      font-size: 18px;
      line-height: 20px;
      font-weight: 400;
      color: $prm;
    }

    p {
      margin: 0;
      font-size: 14px;
      line-height: 20px;
      height: 155px;
      overflow: hidden;
    }
  }

  &__footer {
    padding: 10px 0 20px;
    text-align: center;
  }
}


.event {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-top: 24px;
  border-top: 2px solid $sec;
  margin-top: 24px;
  padding-bottom: 20px;

  &__controls {
    padding-left: 10px;

    .btn {
      display: flex;
      margin-bottom: 10px;
      justify-content: center;
      padding: 9px 10px 7px;
      font-size: 11px;
      line-height: 14px;

    }
  }

  &__header {
    position: absolute;
    left: 0;
    top: -12px;
    padding: 2px 8px;
    font-size: 14px;
    line-height: 18px;
    background: $drk;
    border-radius: 50px;
    color: $prm;
    border: 2px solid $sec;
  }

  &__body {
    flex: 1;

    .text {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 24px;
    }

    .links {
      margin: 0 0 10px;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        margin-right: 8px;

        a {
          display: block;
          white-space: nowrap;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none;
          color: $sec;
          transition: .15s ease-in-out;
          text-transform: uppercase;

          &:hover {
            opacity: 0.75;
          }

          img {
            display: block;
            width: 24px;
            height: 24px;
          }
        }
      }
    }

  }

  &__profile {
    position: absolute;
    right: 0;
    top: -14px;
    padding: 3px 0;
    font-size: 14px;
    line-height: 18px;
    background: $drk;
    list-style: none;
    margin: 0;

    li {
      display: inline-block;
      line-height: 1;
      vertical-align: middle;

      a {
        display: block;
        white-space: nowrap;
        font-size: 12px;
        line-height: 16px;
        text-decoration: none;
        color: $sec;
        transition: .15s ease-in-out;
        text-transform: uppercase;
        padding: 0 4px;

        &:hover {
          opacity: 0.75;
        }


      }
    }
  }
}
