.footer {
  &:before {
    display: block;
    width: 100%;
    height: 60px;
    content: "";
    background: url(asset-path('ornament_1.svg')) repeat-x top center;
    background-size: auto 60px;
    margin-bottom: 20px;
    @include smallScreenDown {
      height: 30px;
      background-size: auto 30px;
    }
  }
  #map {
    width: 100%;
    height: 420px;
  }

  div.gmnoprint, div.gmnoscreen, img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png"], img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png"], img[src*="https://maps.gstatic.com/mapfiles/api-3/images/"]
  {
    display: none;
  }

  .row {
    align-items: center;
  }

  &__contacts {
    width: 280px;
    margin: 0 auto 20px;

    ul {
      margin: 0;
      padding: 0;
      padding-left: 20px;
      list-style: none;

      &.social {
        font-size: 0;

        li {
          display: inline-block;
          line-height: 1;
          vertical-align: middle;
          padding-right: 10px;

          &:last-child {
            padding: 0;
          }

          a {
            display: block;
            font-size: 48px;
            line-height: 1;
            text-decoration: none;

            color: $sec;
            transition: 0.15s linear;

            &:hover {
              opacity: 0.5;
            }
          }
        }
      }

      &.contacts {
        .label {
          font-size: 10px;
          font-weight: 500;
          text-transform: uppercase;
          display: block;
          color: $prm;
        }

        .info {
          font-size: 12px;
          display: block;
        }

        a {
          text-decoration: none;
          color: $sec;
          &:hover {
            color: $prm;
          }
        }

        li {
          padding-top: 10px;

          &.phone {
            display: inline-flex;
            align-items: flex-end;

            a.wa {
              font-size: 24px;
              margin-left: 10px;
            }
          }
        }
      }
    }

    .btn {
      margin: 40px 20px;
    }
  }

  &__map {
    padding: 5px;
    background-color: $blk;
    border: 1px solid $sec;
    margin-bottom: 20px;
  }

  &__bottom {
    border-top: 1px solid $prm;
    padding: 10px;
    font-size: 12px;
    line-height: 15px;
    background-color: $drk;

    a {
      color: $prm;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .copy {
      flex: 1;
    }

    .nav {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;

        li {
          padding-left: 20px;
        }
      }
    }
  }

  @include tabletScreenDown {
    &__contacts {
      text-align: center;

      ul {
        padding-left: 0;
      }

      ul.contacts li.phone {
        padding-left: 34px;
      }

      .btn {
        margin: 20px;
      }
    }
    &__bottom {
      text-align: center;

      .nav {
        width: 100%;
        order: 1;

        ul {
          display: block;
          li {
            padding: 5px;
          }
        }
      }

      .copy {
        padding-top: 20px;
        width: 100%;
        flex: none;
        order: 2;
      }
    }
  }
}
