.form {
  &__input2{
    label.h2 {
      font-size: 17px !important;
    }
    label.label2 {
      font-size: 12px;
      line-height: 3;
      font-weight: 500;
      padding-bottom: 5px;
      user-select: none;
    }
  }
  &__input {
    margin-bottom: 20px;

    input,
    label{
      display: block;
      width: 100%;
      box-sizing: border-box;
      small {
        display: block;
        color: #fff;
      }
    }

    label.h2 {
      font-size: 17px !important;
    }
    label {
      font-size: 12px;
      line-height: 1;
      font-weight: 500;
      
      padding-bottom: 5px;
      user-select: none;
    }

    input{
      border: 1px solid $prm;
      background-color: $drk;
      color: $sec;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      padding: 10px;
      border-radius: 5px;
      resize: none;
    }

    .field_with_errors input{
      border: 1px solid red;
    }
    .field_with_errors label{
      color: red;
    }

    a {
      color: red;
      display: block;
      margin-bottom: 1rem;
    }
  }

  &__checkbox {
    padding: 10px 0;
    margin-bottom: 20px;
    input {
      display: none;

      + label {
        display: inline-flex;
        align-items: center;
        position: relative;

        .input {
          display: block;
          width: 24px;
          height: 24px;
          flex: none;
          border-radius: 5px;
          border: 1px solid rgba(white, 0.25);
          color: black;
          transition: 0.15s linear;
          margin-right: 10px;
          font-size: 16px;
          line-height: 1;
          padding: 3px;
          cursor: pointer;

          .icon {
            transition: transform 0.15s 0.15s
            cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transform: scale(0);
            display: block;
          }
        }
        .help {
          flex: 1;
          align-self: flex-start;
          padding-left: 5px;
          color: $th_drk_2;

          &:hover {
            color: $th_1;
          }
        }

        .text {
          font-size: 12px;
          line-height: 14px;
          font-weight: 500;
          color: $th_blk;
          user-select: none;

          a {
            font-weight: 600;
            color: $th_1;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      &:checked + label {
        .input {
          background-color: $th_drk_2;
          border-color: $th_drk_2;

          .icon {
            transform: scale(1);
          }
        }
      }
    }
  }

  &__center {
    text-align: center;
    margin-bottom: 20px;

    a {
      color: $blk;
      font-size: 16px;
      font-weight: 500;
      transition: 0.15s linear;

      &:hover {
        text-decoration: none;
        opacity: 0.75;
      }
    }
  }
  &__left {
    text-align: center;
    margin-bottom: 20px;

    a {
      color: rgb(129, 15, 15);
      font-size: 16px;
      font-weight: 500;
      transition: 0.15s linear;

      &:hover {
        text-decoration: none;
        opacity: 0.75;
      }
    }
  }
  &__select {
    select {
      /* styling */
      background-color: white;
      border: thin solid blue;
      border-radius: 4px;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;
  
      /* reset */
  
      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
  
      background-image: linear-gradient(45deg, transparent 50%, $prm 50%), linear-gradient(135deg, $prm 50%, transparent 50%), linear-gradient(to right, $sec, $sec);
      background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
      background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
      background-repeat: no-repeat;
    }
    
    select:focus {
      background-image: linear-gradient(45deg, $sec 50%, transparent 50%), linear-gradient(135deg, transparent 50%, $sec 50%), linear-gradient(to right, $prm, $prm);
      background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
      background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
      background-repeat: no-repeat;
      border-color: grey;
      outline: 0;
    }
  }
}

.checkbox {
  display: block;
  margin-bottom: 5px;
  min-height: 20px;
  padding-left: 20px;
}

.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.master-checkbox {
  float: left;
  margin-right: 5px;
}

.cleaner{
  clear: both;
}

.form__input3 p{
  margin-bottom: 20px !important;
}

.thumbnail {
  margin-bottom: 15px;
}