.thumb {
  border: 2px solid $sec;
  overflow: hidden;
  margin-bottom: 10px;
  display: block;
  background-color: $prm;
  border-radius: 5px;

  img {
    display: block;
    width: 100%;
    transition: 0.5s ease-in-out;
  }

  &:hover img {
    opacity: 0.5;
    transform: scale(1.5);
  }
}

#gallery {
  .row {
    justify-content: space-around;
  }

  @include mediumScreenDown {
    .last_on_sm {
      order: 10;
    }
  }
}
