* {
  box-sizing: border-box;
  outline: 0;
}

body {
  background: $blk url(asset_path('ornament_0.svg')) center center repeat;
  background-size: 800px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: $sec;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 10px;
}

::-moz-selection {
  color: lighten($sec, 25%);
  background: $prm;
}

::selection {
  color: lighten($sec, 25%);
  background: $prm;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.btn {
  user-select: none;
  cursor: pointer;
  padding: 11px 20px 9px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.15s ease-in-out;

  &.primary {
    background: $grd;
    color: $blk;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      transition: opacity 0.15s linear;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: lighten($sec, 10%);
      opacity: 0;
      z-index: 1;
    }

    span {
      display: block;
      position: relative;
      z-index: 2;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }

  &.dark {
    background-color: $blk;
    color: $prm;

    &:hover {
      color: $sec;
      background-color: rgba($blk, 0.75);
    }
  }

  &.green {
    background-color: $green;
    color: $th_wht;

    &:hover {
      color: $th_wht;
      background-color: rgba($green, 0.75);
    }
  }

  &.red {
    background-color: $th_3;
    color: $th_wht;

    &:hover {
      color: $th_wht;
      background-color: rgba($th_3, 0.75);
    }
  }
}

.header.is-sticky {
  position: fixed;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.header {
  background-color: $blk;
  padding: 15px 0;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: top 0.25s linear;

  &__top {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      text-decoration: none;
      white-space: nowrap;
      transition: 0.15s linear;

      &:hover {
        opacity: 0.5;
      }
    }

    .auth {
      color: $sec;
      font-size: 12px;
      text-transform: uppercase;
      border-bottom: 1px dashed $prm;
      padding-bottom: 2px;
      margin-right: 20px;

      @include tabletScreenDown {
        display: none;
      }
    }

    .phone {
      font-size: 16px;
      font-weight: 500;
      color: $prm;

      &__apps {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;

        li {
          padding-left: 10px;

          a {
            display: block;
            font-size: 32px;
            color: $sec;
          }
        }
      }
    }
  }

  &__wraper {
    display: flex;
    align-items: flex-end;

    .logo {
      display: block;
      margin-top: -40px;
      position: relative;
      z-index: 1;

      @include smallScreenDown {
        img {
          max-width: 160px;
        }

      }
    }
  }

  &__content,
  .sticky-links {
    display: flex;
    align-items: center;
    flex: 1;
    padding-bottom: 10px;
    padding-left: 10px;
    justify-content: flex-end;

    @include smallScreenDown {
      padding-left: 0px;

      .btn-sm {
        padding: 5px 7px 3px;
      }

      .toggle {
        font-size: 35px;
        margin-left: 5px;
      }
    }

    .nav {
      flex: 1;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0;
        white-space: nowrap;

        li {
          display: inline-block;
          vertical-align: middle;

          a {
            display: block;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px 20px;
            color: $sec;
          }

          &.current,
          & a:hover {
            color: $prm;
          }
        }
      }
    }

    a.auth {
      display: none;
      color: $sec;
      font-size: 12px;
      text-transform: uppercase;
      border-bottom: 1px dashed $prm;
      padding-bottom: 2px;
      margin-right: 10px;
      text-decoration: none;
      white-space: nowrap;
      transition: 0.15s linear;

      &:hover {
        opacity: 0.5;
      }

      @include tabletScreenDown {
        display: inline-block;
      }
    }
  }

  &__control {
    display: none;

    .toggle {
      background: transparent;
      margin: 0;
      padding: 0;
      border: 0;
      color: $prm;
      font-size: 48px;
      transition: 0.15s linear;

      &:active {
        color: $prm;
        opacity: 1;
      }

      &.active {
        color: $sec;
        opacity: 0.5;
      }
    }
  }

  @include tabletScreenDown {
    position: static;

    &__wraper {
      flex-wrap: wrap;
      justify-content: space-between;

    }

    &__content {
      order: 5;
      flex: none;
      overflow: hidden;
      width: 100%;
      height: 0;
      opacity: 0;
      padding: 0;
      display: block;
      transition: opacity 0.15s 0.25s ease-in-out;
      text-align: center;

      &.show {
        height: auto;
        padding: 10px 0;
        opacity: 1;
        border-top: 1px solid $prm;
        margin-top: 10px;
      }

      a.booking-btn {
        display: none;
      }
    }

    &__control {
      display: block;
      flex: 1;
      text-align: right;
    }
  }

  @include smallScreenDown {
    &__content {
      .nav {
        margin-bottom: 20px;

        ul li {
          display: block;
          border-bottom: 1px solid rgba($sec, 0.15);
        }
      }

      a.auth {
        display: none;
      }

      a.booking-btn {
        display: none;
      }
    }
  }
}

.t_right {
  text-align: right;
  margin-top: 10px;
}

.dropdown {
  position: relative;
  user-select: none;

  &__label {
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    padding-bottom: 5px;
    user-select: none;
    display: block;
    width: 100%;
  }

  &__toggle {
    display: flex;
    cursor: pointer;
    border: 1px solid $prm;
    background-color: $drk;
    color: $sec;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px;
    border-radius: 5px;
    position: relative;

    .caret {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -4.5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 4.5px 0 4.5px;
      border-color: currentColor transparent transparent transparent;
    }
  }

  &__nav {
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background-color: $drk;
    border: 2px solid rgba($sec, 0.25);
    margin-top: 2px;
    border-radius: 5px;
    width: 100%;
    padding: 10px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        padding: 5px;
      }
    }
  }

  &.open {
    z-index: 999;

    .dropdown__nav {
      visibility: visible;
      opacity: 1;
    }
  }
}

.form {
  &__input {
    margin-bottom: 20px;

    input,
    label,
    textarea {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }

    label {
      font-size: 12px;
      line-height: 1;
      font-weight: 500;
      padding-bottom: 5px;
      user-select: none;
    }

    input,
    textarea {
      border: 1px solid $prm;
      background-color: $drk;
      color: $sec;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      padding: 10px;
      border-radius: 5px;
      resize: none;
    }
  }

  &__file {
    &__label {
      font-size: 12px;
      line-height: 1;
      font-weight: 500;

      padding-bottom: 5px;
      user-select: none;
    }

    input {
      position: fixed;
      top: -999px;
      left: -999px;
      width: 0;
      height: 0;
      display: block;

      +label {
        display: flex;
        cursor: pointer;
        border: 1px solid $prm;
        background-color: $drk;
        color: $sec;
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        align-items: center;

        .text {
          flex: 1;
        }
      }
    }

    small {
      display: block;
      font-size: 10px;
      line-height: 12px;
      padding-top: 5px;
    }
  }

  &__center {
    text-align: center;
    margin-bottom: 20px;

    a {
      color: $blk;
      font-size: 16px;
      font-weight: 500;
      transition: 0.15s linear;

      &:hover {
        text-decoration: none;
        opacity: 0.75;
      }
    }
  }

  &__left {
    text-align: center;
    margin-bottom: 20px;

    a {
      color: rgb(129, 15, 15);
      font-size: 16px;
      font-weight: 500;
      transition: 0.15s linear;

      &:hover {
        text-decoration: none;
        opacity: 0.75;
      }
    }
  }

  &__ch {
    input {
      display: none;

      +label {
        display: flex;
        align-items: flex-start;
        cursor: pointer;

        .input {
          width: 10px;
          height: 10px;
          display: block;
          border: 1px solid $sec;
          border-radius: 2px;
          flex: none;
          margin-top: 2px;
        }

        .text {
          display: block;
          padding-left: 10px;
        }
      }

      &:checked+label {
        .input {
          background-color: $sec;
        }
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;

    .text {
      margin: 0;
      flex: 1;
      padding-right: 20px;

      a {
        color: $prm;
        text-decoration: underline;
      }
    }
  }
}

.arrow-top {
  display: block;
  width: 30px;
  height: 30px;
  position: fixed;
  left: 10px;
  bottom: 10px;
  background-color: #D0B170;
  border-radius: 100px;
  padding: 5px;
  z-index: 9987;
  cursor: pointer;

  &:hover {
    svg {
      fill: white;
    }
  }
}

.hide-mob-version {
  display: inline-block;

  @include tabletScreenDown {
    display: none;
  }
}

.show-mob-version {
  display: none;

  @include tabletScreenDown {
    display: inline-block;
  }
}
