.masters__list {
  .list-item {
    margin-bottom: 60px;
    padding: 20px;

    .master__header {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;

      &__img {
        flex: none;
        width: 120px;
        height: 120px;
        overflow: hidden;
        border-radius: 50%;
        border: 4px solid $sec;
        background-color: $blk;
        cursor: pointer;
        margin-right: 20px;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.15s linear;
        }

        &:hover {
          border-color: $prm;

          img {
            opacity: 0.5;
          }
        }
      }

      &__wraper {
        flex: 1;

        .text,
        .info {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .content,
          .links {
            flex: 1;
          }

          .links {
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;

            li {
              padding-right: 10px;
            }

            a:hover {
              opacity: 0.5;
            }

            img {
              display: block;
              width: 48px;
              height: 48px;
            }
          }

          .likes {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 96px;
            background-color: $drk;
            border: 2px solid $sec;
            padding: 4px 12px;
            border-radius: 18px;
            user-select: none;
            color: $sec;
            font-size: 12px;
            line-height: 20px;

            .icon {
              width: 20px;
              height: 20px;
              margin-right: 5px;
            }
          }
        }

        .verified {
          width: 64px;
          height: 64px;
          margin-left: 20px;

          img {
            display: block;
            width: 100%;
          }
        }
      }

      .master__name {
        font-size: 24px;
        font-weight: 400;
      }

      .master__price {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        color: $prm;
      }

      @include mobileScreen {
        display: block;

        &__img {
          margin: 0 auto 20px;
          width: 180px;
          height: 180px;
        }
      }
    }

    .master__tags {
      margin-bottom: 10px;
      user-select: none;
      text-transform: uppercase;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          line-height: 1;
          vertical-align: middle;
          margin-right: 5px;
          padding: 3px 0;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .tag {
        display: block;
        color: $drk;
        background-color: $sec;
        font-size: 10px;
        line-height: 14px;
        padding: 2px 8px;
        white-space: nowrap;
        font-weight: 700;
        border-radius: 9px;
      }
    }

    .master__description {
      font-size: 16px;
      line-height: 24px;
    }

    .master__readmore {
      text-align: right;
    }

    @include mobileScreen {
      padding: 0;
      border-bottom: 2px solid $sec;
      padding-bottom: 30px;
      margin-bottom: 30px;

      .master__readmore {
        text-align: center;
      }


    }
  }
}
