.master__gallery {
  margin-bottom: 20px;
  justify-content: center;

  #preview {
    margin-bottom: 10px;

    .owl-prev,
    .owl-next {
      margin: 0 10px;
      //position: absolute;
      //top: 100%;
      //margin-top: -7px;
    }

    .owl-nav {
      position: absolute;
      top: 125%;
      left: 0;
      right: 0;
      text-align: center;
      padding-top: 20px;
    }

    .owl-prev {
      //left: 10px;
    }

    .owl-next {
      //right: 10px;
    }
  }

  .thumbs {
    //margin: 0 40px;
    margin-bottom: 20px;

  }

  .item,
  .thumb {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-top: 100%;
    border: 2px solid #f1a852;
    overflow: hidden;
    border-radius: 5px;

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: .25s ease-in-out;
    }

    &:hover img {
      transform: scale(1.5);
    }
  }

  #thumbs {
    .owl-item {
      opacity: 0.25;
      cursor: pointer;
      transition: .15s ease-in-out;

      &.current,
      &:hover {
        opacity: 1;
      }
    }
  }
}

.master__header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;

  &__img {
    flex: none;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid $sec;
    background-color: $blk;
    cursor: pointer;
    margin-right: 20px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.15s linear;
    }

    &:hover {
      border-color: $prm;

      img {
        opacity: 0.5;
      }
    }
  }

  &__wraper {
    flex: 1;

    .text,
    .info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .content,
      .links {
        flex: 1;
      }

      .links {
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

        li {
          padding-right: 10px;
        }

        a:hover {
          opacity: 0.5;
        }

        img {
          display: block;
          width: 48px;
          height: 48px;
        }
      }

      .likes {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 96px;
        background-color: $drk;
        border: 2px solid $sec;
        padding: 4px 12px;
        border-radius: 18px;
        user-select: none;
        color: $sec;
        font-size: 12px;
        line-height: 20px;

        .icon {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }
    }

    .verified {
      width: 64px;
      height: 64px;
      margin-left: 20px;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  .master__name {
    font-size: 24px;
    font-weight: 400;
  }

  .master__price {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $prm;

    span {
      margin: 5px;
      white-space: nowrap;
      display: inline-block;
    }
  }

  @include mobileScreen {
    display: block;

    &__img {
      margin: 0 auto 20px;
      width: 180px;
      height: 180px;
    }
  }
}

.master__tags {
  margin-bottom: 20px;
  user-select: none;
  text-transform: uppercase;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
      margin-right: 5px;
      padding: 3px 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .tag {
    display: block;
    color: $drk;
    background-color: $sec;
    font-size: 10px;
    line-height: 14px;
    padding: 2px 8px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 9px;
  }
}

.master__description,
.master__text {
  font-size: 16px;
  line-height: 24px;

  p {
    margin: 0 0 24px;
  }
}
