.modal2, .modal {
  position: relative;
  width: 320px;
  margin: 20px auto;
  background: $sec url(asset-path('ornament_2.svg')) no-repeat center -40px;
  background-size: 50%;
  color: $drk;
  padding: 40px 20px;
  border-radius: 20px;

  &.sm {
    max-width: 320px;
  }

  &__header {
    position: relative;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;

    &:before {
      width: 100%;
      height: 1px;
      background-color: $drk;
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 0;
    }
    span {
      display: inline-block;
      padding: 6px 20px 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      background-color: $drk;
      color: $sec;
      border-radius: 17px;
      margin: 0 auto;
      position: relative;
      z-index: 2;
    }
  }

  &__footer {
    padding-top: 20px;
    border-top: 1px solid rgba($blk, 0.15);
    text-align: right;
  }

  &__body {
    .row {
      justify-content: space-around;
    }
  }

  @include smallScreenDown {
    width: 100%;
    margin: 20px 10px;
  }
}

#reservationForm .banners-block {
  position: relative;
  width: 320px;
  margin: 20px auto;
  background-color: #fff;
  background-size: 50%;
  padding: 10px 10px;

  &.sm {
    max-width: 320px;
  }
  
  @include smallScreenDown {
    width: 100%;
    margin: 20px 10px;
  }
}
