.section {
  padding: 40px 0;

  &__header {
    position: relative;
    text-align: center;
    margin-bottom: 40px;

    &:before {
      width: 100%;
      height: 1px;
      background-color: $prm;
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 0;
    }

    h2 {
      position: relative;
      z-index: 1;
      margin: 0;
      padding: 0;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;

      span {
        padding: 6px 20px 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: $sec;
        color: $blk;
        border-radius: 17px;
        margin: 0 auto;
      }
    }
  }

  &__subheader {
    margin-top: -20px;
    margin-bottom: 40px;
    text-align: center;

    .text {
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      color: $prm;
    }

    .contacts {
      display: inline-flex;
      align-items: center;
      padding-top: 10px;
      a {
        text-decoration: none;
        white-space: nowrap;
        transition: 0.15s linear;

        &:hover {
          opacity: 0.5;
        }
      }

      .phone {
        font-size: 18px;
        color: $prm;
        font-weight: 300;

        &__apps {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          align-items: center;

          li {
            padding-right: 10px;

            a {
              display: block;
              font-size: 32px;
              color: $sec;
            }
          }
        }
      }
    }

    .row {
      justify-content: space-around;
    }

    p {
      margin: 0 0 10px;

      a {
        color: $prm;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    @include smallScreenDown {
      margin-bottom: 20px;
    }
  }

  &__footer {
    padding-top: 20px;
    text-align: center;
  }
}

.page {
  padding-top: 114px;
  padding-bottom: 60px;

  &:before {
    display: block;
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    content: "";
    background: url(asset-path('ornament_1.svg')) repeat-x top center;
    background-size: auto 60px;

    @include smallScreenDown {
      height: 30px;
      background-size: auto 30px;
    }
  }
  @include tabletScreenDown {
    padding-top: 0;
    &:before {
      margin-bottom: 20px;
    }
  }
  
  .banners-block {
    margin-bottom: 30px;
    
    .banner {
      border: 1px solid #000;
      background-color: #fff;
      padding: 10px 15px;
      margin-bottom: 20px;
    }
  }
}
