$body-bg: $drk;

.pb-15 {
  padding-bottom: 15px;
}

.pb-2r {
  padding-bottom: 2rem;
}
.form-buttons {
  text-align: right;
}

.btn.secondary.reset {
  margin-right: 1rem;
  background: linear-gradient(to right, #6c757d 0%, $sec 50%, #6c757d 100%);
  color: #1a1a1a;
  position: relative;
  overflow: hidden;
}
.select2-container {
  box-sizing: border-box;
  
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  
  .select2-selection {
    display: flex;
    align-items: center;
    background-color: $drk;
    border: 1px solid $prm;
    border-radius: .25rem;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: $sec;
    
    // height: $form-floating-height;
    padding: 20px;
    
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .select2-selection__rendered {
    color: #222222;
  }
  
  .select2-selection__arrow {
    position: absolute;
    font-size: 1.5rem;
    line-height: 1;
    color: $input-border-color;
    top: 50%;
    right: 0;
    margin-top: -0.75rem;
  
    &:before {
      display: block;
      
    }
    
    b {
      display: none;
    }
  }
  
  &--open {
    .select2-selection {
      border-color: #1a1a1a;
    }
    
    .select2-selection__arrow {
      transform: rotate(180deg);
      color: #1a1a1a;
    }
  }
  .select2-selection--multiple {
    &:after {
      display: block;
      content: "\F035D";
      font-family: "Material Design Icons";
      position: absolute;
      font-size: 1.5rem;
      line-height: 1;
      color: $input-border-color;
      top: 50%;
      right: 0;
      margin-top: -0.75rem;
    }
    
    .select2-selection__choice {
      display: inline-flex;
      flex-direction: row-reverse;
      align-items: center;
      color: $input-color;
      
      &__display {
        display: block;
      }
      
      &:before {
        content: ", ";
        display: inline-block;
        margin-right: 0.25rem;
      }
      
      &:last-child:before {
        display: none;
      }
    }
    .select2-selection__choice__remove {
      padding: 0 0.25rem;
      border: 0;
      background-color: transparent;
      color: $input-color;
      opacity: 0.5;
      
      &:hover {
        color: red;
        opacity: 1;
      }
    }
    
    .select2-search--inline {
      line-height: 1;
      vertical-align: middle;
      flex: 1;
      
      .select2-search__field {
        box-sizing: border-box;
        border: none;
        font-size: 100%;
        padding: 0;
        padding: 0;
        max-width: 100%;
        resize: none;
        height: 18px;
        vertical-align: bottom;
        font-family: sans-serif;
        overflow: hidden;
        word-break: keep-all;
        
        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
        }
      }
    }
    
    .select2-selection__rendered {
      margin: 0;
      padding: 0;
      list-style: none;
      position: absolute;
      left: 1rem;
      right: 1.5rem;
      //height: $input-line-height * 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  
  &--open {
    .select2-selection {
      //border-color: $input-focus-border-color;
    }
    .select2-selection--multiple:after {
      transform: rotate(180deg);
      // color: $input-focus-border-color;
    }
  }
}

//@import "dropdown";
.select2-dropdown {
  background-color: white;
  
  border: 1px solid #aaa;
  border-radius: 4px;
  
  box-sizing: border-box;
  
  display: block;
  
  position: absolute;
  left: -100000px;
  
  width: 100%;
  
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  
  user-select: none;
  -webkit-user-select: none;
}

.select2-results__option--selectable {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
  
  .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
  
  &.select2-search--hide {
    display: none;
  }
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  
  // styles required for IE to work
  
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

//@import "theme/default/layout";
.select2-container--default {
  //@import "single";
  
  &.select2-container--disabled {
    .select2-selection--single {
      background-color: #eee;
      cursor: default;
      
      .select2-selection__clear {
        display: none;
      }
    }
  }
  
  &.select2-container--open {
    .select2-selection--single {
      .select2-selection__arrow {
        b {
          border-color: transparent transparent #888 transparent;
          border-width: 0 4px 5px 4px;
        }
      }
    }
  }
  //@import "multiple";
  
  &.select2-container--disabled {
    .select2-selection--multiple {
      background-color: #eee;
      cursor: default;
    }
    
    .select2-selection__choice__remove {
      display: none;
    }
  }
  
  &.select2-container--open.select2-container--above {
    .select2-selection--single,
    .select2-selection--multiple {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  
  &.select2-container--open.select2-container--below {
    .select2-selection--single,
    .select2-selection--multiple {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  
  .select2-search--dropdown {
    .select2-search__field {
      border: 1px solid #aaa;
    }
  }
  
  .select2-search--inline {
    .select2-search__field {
      background: transparent;
      border: none;
      outline: 0;
      box-shadow: none;
      -webkit-appearance: textfield;
    }
  }
  
  .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
  }
  
  .select2-results__option {
    .select2-results__option {
      padding-left: 1em;
      
      .select2-results__group {
        padding-left: 0;
      }
      
      .select2-results__option {
        margin-left: -1em;
        padding-left: 2em;
        
        .select2-results__option {
          margin-left: -2em;
          padding-left: 3em;
          
          .select2-results__option {
            margin-left: -3em;
            padding-left: 4em;
            
            .select2-results__option {
              margin-left: -4em;
              padding-left: 5em;
              
              .select2-results__option {
                margin-left: -5em;
                padding-left: 6em;
              }
            }
          }
        }
      }
    }
  }
  
  .select2-results__option--group {
    padding: 0;
  }
  
  .select2-results__option--disabled {
    color: #999;
  }
  
  .select2-results__option--selected {
    background-color: $body-bg;
  }
  
  .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #ccad7b;
    color: #222222;
  }
  
  .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
  }
}

.select2-container--compact {
  .select2-selection {
    padding: 0rem 1.5rem 0rem 0.75rem;
    height: 2.5rem;
    font-size: 0.75rem;
    font-weight: 500;
  }
  
  &.select2-container--open {
    .select2-selection--single {
      .select2-selection__arrow {
        b {
          border-color: transparent transparent #888 transparent;
          border-width: 0 4px 5px 4px;
        }
      }
    }
  }
  
  .select2-results__options {
    font-size: 0.75rem;
    
    li {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  
  .select2-results__option--group {
    padding: 0;
  }
  
  .select2-results__option--disabled {
    color: #999;
  }
  
  .select2-results__option--selected {
    background-color: $body-bg;
  }
  
  .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: red;
    color: white;
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #ccad7b !important;
}
