$blk: #1a1a1a !default;
$drk: #222222 !default;
$prm: #cc9933 !default;
$sec: #f1a852 !default;
$blk: #1a1a1a !default;
$blk: #1a1a1a !default;
$blk: #1a1a1a !default;
$green: #20c720 !default;
$adv: #f5ddae !default;
$grd: linear-gradient(to right, $prm 0%, $sec 50%, $prm 100%) !default;

$th_wht: #ffffff !default;
$th_drk_1: #2b2b2b !default;
$th_drk_2: #6b7885 !default;
$th_blk: #141414 !default;
$th_1: #3167ff !default;
$th_3: #ec407a !default;
$th_4: #b6d244 !default;

// Media Query & Drid //
$columns: 12 !default;
$gutter: 20px !default;
// ExtraSmallScreen                  <= 480px
$SmallScreen: 480px !default; //     481px - 756px
$TabletScreen: 756px !default; //    757px - 1000px
$MediumScreen: 1000px !default; //   1001px - 1200px
$LargeScreen: 1200px !default; //    >= 1201px
