.welcome {
  padding-top: 114px;

  &:before {
    display: block;
    width: 100%;
    height: 60px;
    content: "";
    background: url(asset-path('ornament_1.svg')) repeat-x top center;
    background-size: auto 60px;

    @include smallScreenDown {
      height: 30px;
      background-size: auto 30px;
    }
  }

  &__img {
    display: block;
    margin: -30px auto 30px;
    max-width: 70%;
    user-select: none;
  }

  &__intro {
    font-size: 20px;
    line-height: 32px;
    padding: 20px 0 50px;
    font-weight: 300;

    p {
      margin: 0;
    }
  }

  &__carousel {
    //padding-top: 30px;
    margin-bottom: 50px;

    .owl-nav {
      position: absolute;
      top: -30px;
      right: 0;

      button.owl-next,
      button.owl-prev {
        border: 2px solid $sec;
        background-color: $blk;
        color: $sec;
        font-size: 12px;
        line-height: 20px;
        border-radius: 5px;
        width: 48px;
        margin-left: 5px;
        transition: 0.15s linear;

        &:hover {
          color: $blk;
          background-color: $sec;
        }
      }
    }

    .news__item {
      padding-top: 20px;

      .item__body {
        display: flex;
        align-items: flex-start;
        a {
          color: #D0B170;
          font-weight: bold;
        }
      }

      .item__footer {
        text-align: right;
      }

      .item__thumb {
        width: 120px;
        height: 120px;
        position: relative;
        display: block;
        background-color: $blk;
        border: 2px solid $sec;
        overflow: hidden;
        margin-right: 10px;
        flex: none;
        border-radius: 5px;
        margin-top: 5px;

        img {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.5s linear;
        }

        &:hover {
          border-color: $prm;
          img {
            opacity: 0.5;
            transform: scale(1.25);
          }
        }
      }

      h3 {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: 400;
        color: $prm;
      }

      p {
        margin: 0 0 20px;
        font-size: 14px;
        line-height: 20px;
      }
    }

    @include smallScreenDown {
      .news__item {
        .item__body {
          display: block;
        }

        .item__footer {
          text-align: left;
        }

        .item__thumb {
          margin-bottom: 10px;
          width: auto;
          height: 0;
          padding-top: 56.25%;
        }

        h3 {
          margin-bottom: 10px;
        }

        p {
          font-size: 13px;
          line-height: 16px;
        }
      }
    }
  }

  .row {
    align-items: center;
  }
  @include tabletScreenDown {
    padding: 0;
  }
}

//Middle content

.app__messages {
  position: absolute;
  left: 0;
  top: 110px;
  width: 100%;
  z-index: 999;

  .message {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 20px;
    color: $th_wht;
    margin-bottom: 1px;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    transition: 0.15s linear;

    &:hover {
      opacity: 0.9;
    }

    &__body {
      flex: 1;
      padding-right: 20px;

      a {
        color: $th_wht;
        font-weight: 600;
        text-decoration: underline;
        transition: 0.15s linear;

        &:hover {
          opacity: 0.75;
        }
      }
    }

    &__close {
      font-size: 12px;
      line-height: 12px;
      color: $th_wht;
      display: block;
      flex: none;
      padding: 4px;
      opacity: 0.5;
      transition: 0.15s linear;
      cursor: pointer;

      &:hover {
        opacity: 0.75;
      }

      .icon {
        display: block;
      }
    }

    &.info {
      background: rgba($th_1, 0.75);
    }
    &.danger {
      background: rgba($th_3, 0.75);
    }
    &.success {
      background: rgba($th_4, 0.75);
    }
  }
}

.map-wrapper{
  height: 400px;
  margin-left: 30px;
  margin-right: 30px;
  iframe{
    height: 100%;
    width: 100%;
    border: unset;
  }
}
.questions-block{
  &__question{
    .question{
      color: #D0B170;
      margin-bottom: 20px;
    }
    .answer{
      color: #C4C4C4;
      a {
        color: #D0B170;
        font-weight: bold;
      }
    }
  }
}
