<!DOCTYPE html>
- var $project = "Tantrium"
mixin icon(ID, CLASS)
  if(!CLASS)
    svg.icon: use(xlink:href="assets/img/sprite.svg?"+ID)
  else
    svg(class=CLASS): use(xlink:href="assets/img/sprite.svg?"+ID)
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{$project} :: Wellcome
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap")
    link(rel="stylesheet", href="assets/css/style.min.css")
  body
    header.header
      .ctn
        .header__top
          a.auth(href="#loginform" data-show="popup") авторизация
          a.phone(href="tel:+79850681139") +7 (985) 068 11 39
          ul.phone__apps
            li: a(href="http://m.me/<PAGE_NAME>"): +icon('#mg')
            li: a(href="https://wa.me/+79850681139"): +icon('#wa')
        .header__wraper
          a.logo(href="./"): img(src="assets/img/logo.png", alt=$project)
          .header__content
            .nav: ul
              li: a(href="#cabinets") КАБИНЕТЫ
              li: a(href="#masters") МАСТЕРА
              li: a(href="#gallery") ГАЛЕРЕЯ
              li: a(href="#contacts") КОНТАКТЫ
            a.auth(href="#loginform" data-show="popup") авторизация
            a.btn.primary(href="#booking"): span бронирование
          .header__control: button.toggle: +icon('#mn')
    section#master.section.page
      .ctn
        .master__page
          .master__header
            .master__header__img(data-master="assets/img/master_1.jpg" data-name='Александр Коган' data-small="5500 ₽/2,5 часа"): img(src="assets/img/th_master_1.jpg", alt="")
            .master__header__wraper
              .text
                .content
                  .master__name Александр Коган
                  .master__price
                    span от 4000₽ до 10000₽ 
                    span от 1 часа до 3 часов
                .verified: img(src="assets/img/stamp.svg", alt="")
              .info
                ul.links 
                  li: a(href=""): img(src="assets/img/phone.svg", alt="")
                  li: a(href=""): img(src="assets/img/twitter.svg", alt="")
                  li: a(href=""): img(src="assets/img/whatsapp.svg", alt="")
                  li: a(href=""): img(src="assets/img/viber.svg", alt="")
                .likes
                  +icon('#star')
                  span 574
          .master__tags: ul
            li: span.tag #МАССАЖ
            li: span.tag #ПСИХОЛОГИЧЕСКОЕ КОНСУЛЬТИРОВАНИЕ
            li: span.tag #ИНДИВИДУАЛЬНОЕ ОБУЧЕНИЕ
            li: span.tag #ПАРТНЕР НА ТРЕНИНГИ И РЕТРИТЫ
            li: span.tag #ДИПЛОМИРОВАННЫЙ РЕЛАКСОЛОГ
            li: span.tag #ДИПЛОМИРОВАННЫЙ ПСИХОЛОГ

          .row.master__gallery
            .col.md-6
              #preview.owl-carousel
                a.item(data-name='Мария Феоктистова' href='assets/img/gallery_1.jpg')
                  img(src='assets/img/gallery_1.jpg')
                a.item(data-name='Мария Феоктистова' href='assets/img/gallery_2.jpg')
                  img(src='assets/img/gallery_2.jpg')
                a.item(data-name='Мария Феоктистова' href='assets/img/gallery_3.jpg')
                  img(src='assets/img/gallery_3.jpg')
                a.item(data-name='Мария  Феоктистова' href='assets/img/gallery_4.jpg')
                  img(src='assets/img/gallery_4.jpg')
                a.item(data-name='Мария Феоктистова' href='assets/img/gallery_5.jpg')
                  img(src='assets/img/gallery_5.jpg')
                a.item(data-name='Мария Феоктистова' href='assets/img/gallery_6.jpg')
                  img(src='assets/img/gallery_6.jpg')
                a.item(data-name='Мария Феоктистова' href='assets/img/gallery_7.jpg')
                  img(src='assets/img/gallery_7.jpg')
              
              .thumbs: #thumbs.owl-carousel
                .thumb: img(src='assets/img/gallery_1.jpg')
                .thumb: img(src='assets/img/gallery_2.jpg')
                .thumb: img(src='assets/img/gallery_3.jpg')
                .thumb: img(src='assets/img/gallery_4.jpg')
                .thumb: img(src='assets/img/gallery_5.jpg')
                .thumb: img(src='assets/img/gallery_6.jpg')
                .thumb: img(src='assets/img/gallery_7.jpg')




            .col.md-12: .master__text
              p Я это ТЫ - ТЫ это Я ….
                br
                | МУЖСКАЯ и ЖЕНСКАЯ энергия …
                br
                | Какой глубокий смысл в этих значениях …
                br
                | Что это? Как вы это делаете ? Для чего это?
                br
                | Тантрическому массажу нет объяснений …
                br
                | Я просто танцую ! Танец моей души и тела … 
              p Сессия начинается с расслабляющего массажа , перетекающего в тантрические техники релаксации . 
              p Во время сеанса у вас расслабляются мышцы, восстанавливаются нейронные связи , разгружается и балансируется нервная система , происходит гармонизация энергетических центров . 
              p Я погружаю вас в ощущения глубокой нежности и расслабления , окутывая своей женской энергией . 
              p Массаж является мощной терапией , соединяя воедино тело , ум и душу . 
              p Успокаивает внутренний диалог и даёт возможность полноценного отдыха и блаженства . 
              p После массажа вы почувствуете: 
              ul
                li Желание наслаждаться жизнью
                li Захочется творить и созидать 
                li Свечение 
                li Полное восстановление сил 
                li Лёгкость
                li Полная перезагрузка и освобождение от эмоциональных блоков . 
              p ОБО МНЕ : 
              p Я - МАРИЯ )<br>11 лет в регулярном самопознании , изучаю психологию , тантру , практикую телесную йога-терапию , Мастер-Преподаватель 2 ступени по кундалини-йоге , практикую хатха-йогу , энергопрактик ,дыхательные практики  , веду женские круги , изучаю цифровую науку СЮЦАЙ . 
              p ПРИГЛАШАЮ ВАС В МИР ТАНТРЫ , БЕЗУСЛОВНОЙ ЛЮБВИ И ПРИНЯТИЯ…


        .section__header: h2: span Другие мастера
        .row.masters__list
          .col.md-6: .list-item
            .master__header
              .master__header__img(data-master="assets/img/master_1.jpg" data-name='Александр Коган' data-small="5500 ₽/2,5 часа"): img(src="assets/img/th_master_1.jpg", alt="")
              .master__header__wraper
                .text
                  .content
                    .master__name Александр Коган
                    .master__price от 4000₽ до 10000₽
                    .master__price от 1 часа до 3 часов
                  .verified: img(src="assets/img/stamp.svg", alt="")
                .info
                  ul.links 
                    li: a(href=""): img(src="assets/img/phone.svg", alt="")
                    li: a(href=""): img(src="assets/img/twitter.svg", alt="")
                    li: a(href=""): img(src="assets/img/whatsapp.svg", alt="")
                    li: a(href=""): img(src="assets/img/viber.svg", alt="")
                  .likes
                    +icon('#star')
                    span 574
            .master__tags: ul
              li: span.tag #МАССАЖ
              li: span.tag #ПСИХОЛОГИЧЕСКОЕ КОНСУЛЬТИРОВАНИЕ
              li: span.tag #ИНДИВИДУАЛЬНОЕ ОБУЧЕНИЕ
              li: span.tag #ПАРТНЕР НА ТРЕНИНГИ И РЕТРИТЫ
              li: span.tag #ДИПЛОМИРОВАННЫЙ РЕЛАКСОЛОГ
              li: span.tag #ДИПЛОМИРОВАННЫЙ ПСИХОЛОГ
            .master__description
              p Тантра, мистическое и заманчивое слово. Чтоже это? Тантру практически не возможно описать словами, но тантру можно прочувствовать и осознание прийдет...
            .master__readmore: a.btn.primary(href=""): span Подробнее ...

          .col.md-6: .list-item
            .master__header
              .master__header__img(data-master="assets/img/master_2.jpg" data-name='Анна Ахматова' data-small="5500 ₽/2,5 часа"): img(src="assets/img/th_master_2.jpg", alt="")
              .master__header__wraper
                .text
                  .content
                    .master__name Анна Ахматова
                    .master__price от 4000₽ до 10000₽
                    .master__price от 1 часа до 3 часов
                  //.verified: img(src="assets/img/stamp.svg", alt="")
                .info
                  ul.links 
                    li: a(href=""): img(src="assets/img/phone.svg", alt="")
                    li: a(href=""): img(src="assets/img/twitter.svg", alt="")
                    li: a(href=""): img(src="assets/img/whatsapp.svg", alt="")
                    li: a(href=""): img(src="assets/img/viber.svg", alt="")
                  .likes
                    +icon('#star')
                    span 3
            .master__tags: ul
              li: span.tag #МАССАЖ
              li: span.tag #психолог
            .master__description
              p Друзья, приглашаю вас на сессию тантрического массажа, который включает в себя различные методы и техники ( лаосские техники, аюрведический йога массаж, расслабление суставов и многое другое)...
            .master__readmore: a.btn.primary(href=""): span Подробнее ...


    footer#contacts.footer
      .ctn: .row
        .col.lg-4.md-5.sm-6: .footer__contacts
          img(src="assets/img/logo.png", alt=$project)
          ul.contacts
            li
              small.label Адрес:
              span.text Москва, Ленинградское шоссе, д.17/1
              small.info Вход со двора
            li.phone
              span
                small.label телефон:
                a.call(href="tel:+79850681139") +7 (985) 068 11 39
              a.wa(href="https://wa.me/+79850681139"): +icon('#wa')
            li
              small.label почта:
              a.mail(href="mailto:info@tantrium.ru") info@tantrium.ru
          a.btn.primary(href="#contactform" data-show="popup"): span написать нам
          ul.social
            li: a(href="" target="_blank"): +icon('#vk')
            li: a(href="" target="_blank"): +icon('#fb')
            li: a(href="" target="_blank"): +icon('#ig')
        .col.lg-8.md-7.sm-6: .footer__map
          #map
          script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLa52E3EJeehDidU_gDBx4B4NMzh01hiY")
      .footer__bottom
        .ctn: .row
          .copy © 2020 <a href="./">TANTARIUM</a> Все права защищены.
          .nav: ul
            li: a(href="") Политика безопасности
            li: a(href="") Пользовательское соглашение
            li: a(href="") Способы оплаты
    form#contactform.modal.mfp-hide
      .modal__header: span написать нам
      .modal__body
        .row
          .col.sm-6: .form__input
            label Ваше Имя
            input(type="text" name="fname")
          .col.sm-6: .form__input
            label Ваша Фамилия
            input(type="text" name="lname")
          .col.sm-6: .form__input
            label Ваш телефон
            input(type="tel" name="phone")
          .col.sm-6: .form__input
            label Ваша почта
            input(type="email" name="mail")
          .col.sm-12: .form__input
            label Текст сообщения
            textarea(name="message", cols="30", rows="10")
      .modal__footer: button(type="submit").btn.dark Отправить
    form#loginform.modal.mfp-hide.sm
      .modal__header: span Вход
      .modal__body
        .form__center
          a(href="#registerform" data-show="popup") Создать аккаунт
        .form__input
          label Логин
          input(type="email" name="mail")
        .form__input
          label Пароль
          input(type="password" name="pass")
        .form__left
          a(href="#forgotform" data-show="popup") Забыли пароль?
      .modal__footer: button(type="submit").btn.dark Отправить
    form#registerform.modal.mfp-hide.sm
      .modal__header: span Регистрация
      .modal__body
        .form__center
          a(href="#loginform" data-show="popup") Уже зарегистрированы?
        .form__input
          label Ваше Имя
          input(type="text" name="fname")
        .form__input
          label Ваша Фамилия
          input(type="text" name="lname")
        .form__input
          label Ваш телефон
          input(type="tel" name="phone")
        .form__input
          label Ваша почта
          input(type="email" name="mail")
      .modal__footer: button(type="submit").btn.dark Отправить
    form#forgotform.modal.mfp-hide.sm
      .modal__header: span Сброс пароля
      .modal__body
        .form__center на указанную вами почту придёт письмо для сброса пароля
        .form__input
          label Ваша почта
          input(type="email" name="mail")
      .modal__footer: button(type="submit").btn.dark Отправить
    // SCRIPTS
    script(src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous")
    script(src="assets/js/app.min.js")
