<!DOCTYPE html>
- var $project = "Tantrium"
mixin icon(ID, CLASS)
  if(!CLASS)
    svg.icon: use(xlink:href="assets/img/sprite.svg?"+ID)
  else
    svg(class=CLASS): use(xlink:href="assets/img/sprite.svg?"+ID)
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{$project} :: Wellcome
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap")
    link(rel="stylesheet", href="assets/css/style.min.css")
  body
    header.header
      .ctn
        .header__top
          a.auth(href="#") личный кабинет
          a.phone(href="tel:+79850681139") +7 (985) 068 11 39
          ul.phone__apps
            li: a(href="https://wa.me/+79850681139"): +icon('#wa')
        .header__wraper
          a.logo(href="./"): img(src="assets/img/logo.png", alt=$project)
          .header__content
            .nav: ul
              li: a(href="#cabinets") КАБИНЕТЫ
              li: a(href="#masters") МАСТЕРА
              li: a(href="#gallery") ГАЛЕРЕЯ
              li: a(href="#contacts") КОНТАКТЫ
            a.auth(href="") личный кабинет
            a.btn.primary(href="#booking"): span бронирование
          .header__control: button.toggle: +icon('#mn')
    section#cabinet.section.page.cabinet__page
      .ctn
        .section__header: h2: span мои события
        .events
          -for(i=1;i<=10;i++)
            .event
              .event__header: .title 15.11.2022
              .event__body 
                .text Новый отклик на объявление от <span>Иван Пупкин</span>
                ul.links 
                  li: a(href=""): span +7904567899
                  li: a(href=""): img(src="assets/img/twitter.svg", alt="")
                  li: a(href=""): img(src="assets/img/whatsapp.svg", alt="")
                  li: a(href=""): img(src="assets/img/viber.svg", alt="")
              ul.event__profile
                li: a(href="") 
                  span профиль
                  +icon('#link')
                li: a(href="") 
                  span объявление
                  +icon('#link')
              .event__controls
                a.btn.green(href="" title="принять") принять
                a.btn.red(href="" title="отклонить") отклонить


    footer#contacts.footer
      .ctn: .row
        .col.lg-4.md-5.sm-6: .footer__contacts
          img(src="assets/img/logo.png", alt=$project)
          ul.contacts
            li
              small.label Адрес:
              span.text Москва, Ленинградское шоссе, д.17/1
              small.info Вход со двора
            li.phone
              span
                small.label телефон:
                a.call(href="tel:+79850681139") +7 (985) 068 11 39
              a.wa(href="https://wa.me/+79850681139"): +icon('#wa')
            li
              small.label почта:
              a.mail(href="mailto:info@tantrium.ru") info@tantrium.ru
          a.btn.primary(href="#contactform" data-show="popup"): span написать нам
          ul.social
            li: a(href="" target="_blank"): +icon('#vk')
            li: a(href="" target="_blank"): +icon('#fb')
            li: a(href="" target="_blank"): +icon('#ig')
        .col.lg-8.md-7.sm-6: .footer__map
          #map
          script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLa52E3EJeehDidU_gDBx4B4NMzh01hiY")
      .footer__bottom
        .ctn: .row
          .copy © 2020 <a href="./">TANTARIUM</a> Все права защищены.
          .nav: ul
            li: a(href="") Политика безопасности
            li: a(href="") Пользовательское соглашение
            li: a(href="") Способы оплаты
    form#contactform.modal.mfp-hide
      .modal__header: span написать нам
      .modal__body
        .row
          .col.sm-6: .form__input
            label Ваше Имя
            input(type="text" name="fname")
          .col.sm-6: .form__input
            label Ваша Фамилия
            input(type="text" name="lname")
          .col.sm-6: .form__input
            label Ваш телефон
            input(type="tel" name="phone")
          .col.sm-6: .form__input
            label Ваша почта
            input(type="email" name="mail")
          .col.sm-12: .form__input
            label Текст сообщения
            textarea(name="message", cols="30", rows="10")
      .modal__footer: button(type="submit").btn.dark Отправить
    // SCRIPTS
    script(src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous")
    script(src="assets/js/app.min.js")
